.tittleName{
    font-size: 25px;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}
img{
    width: 150px;
    height: 200px;
}